html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*tela de login */

.login-container {
  width: 300px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px 3px #073e63, inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 17%;
}

.login-header {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.login-header h1 {
  color: #333;
  font-size: 24px;
}

.login-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background: #d6d6d6;
  border-radius: 4px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #073e63;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background: #073e63;
  transform: translateY(-2px);
}



/*    fundo e header    */

.headerdiv {/* div*/
  background-color: #073e63;
  height: 150px;
  position: absolute;
  top: -1px;
  width: 100%;
}

/* menu*/

li {
  border-right: -1px solid #bbb;
  display: inline-flex;
}

li:last-child {
  border-right: none;
}
  
  



/*  icones do menu nav  */


ul {
  padding-left: 15px;
  margin: 15;
  font-size: 30px;
  text-shadow: 0px 2px 5px #000000;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 38px;
  text-decoration: none;
  margin-right: 14px;
}

.textolink {
  text-decoration: none;
  color: white;
}

.imagezona {
  width: 200px;
  margin-bottom: -13%;
  top:-1
}


/*  css do sobre*/

/* imagem do boneco*/
.boneco{
  width: 40%;
  margin-bottom:-120px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding: 0px;
}

.caixa{
  margin-left: 100px;
  width: 300px;
  height: 400px;
}

footer{
  background-color: #073e63;
  color: white;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  bottom: -400px;
}